<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--Table-->
<table class="table table-striped w-auto complaintTable" style="border:1px solid black">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Complaint</th>
      <th>user</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    {{#each result}}
    <tr class="table-info">
      <th scope="row">#</th>
      <td>{{type}}</td>
      <td>{{subject}}</td>
      <td>{{complaint}}</td>
      <td><a href="/admin/getUser/{{user_id}}" class="btn btn-success">View user</a></td>
      <td>{{status}}</td>
      <td><a href="/admin/varify/{{id}}" class="btn btn-primary"> Varify</a></td>
    </tr>
    {{/each}}
   
</table>
<!--Table-->
</body>
</html>