<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body style="background-color: #2015bf;">
  
     {{> usersidebar}}
            <h1 style="text-align: center;background-color:rgb(220, 17, 162)">Track Your Pending Complaints</h1>
            <div class="Complaint_container"> 
                {{#each trackData}}
                    <div class="TrackingCard">
                        <button class="notify"><i class="fa fa-bell" style="font-size:20px"></i>Notify</button>
                               <div class="Detail">
                                     <b>Status</b> <br>
                                        <span>{{status}}</span> <br>
                                     <b>Remarks</b> <br>
                                        <span>{{response}}</span> <br>
                                      <b>subject</b> <br>
                                       <span>{{subject}}</span> <br>
                                        <b>Complaints</b> <br>
                                       <span>{{complaint}}</span>
                                       <b>Your Complaint ID:</b>
                                        <span>{{id}}</span>
                               </div>
                    </div>
                    {{/each}}
            </div>

</body>
</html>